language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install:
  - "pip install ."
  - "pip install coveralls"
# command to run tests
script: python -R setup.py nosetests -m test/unittest
after_success:
  coveralls
